<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공정현황 대시보드</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      canvas {
        height: 100px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid p-4" style="background-color: #eee">
      <div class="row">
        <div
          class="container-fluid p-4"
          style="
            background-color: white;
            max-width: 1200px;
            border-radius: 20px;
          "
        >
          <div class="row">
            <div class="center" style="height: 100px">
              <h4
                class="center p-2 border border-2 rounded-pill"
                style="width: 100%"
              >
                공정현황 대시보드
              </h4>
            </div>
          </div>

          <div class="row">
            <div
              id="aside"
              class="col-4 d-flex flex-column justify-content-between"
            >
              <div class="aside-top">
                <div
                  class="accordion accordion-flush"
                  id="accordionFlushExample"
                >
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne"
                        aria-expanded="false"
                        aria-controls="flush-collapseOne"
                      >
                        용접현황
                      </button>
                    </h2>
                    <div
                      id="flush-collapseOne"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul>
                          <li><a href="">현황1</a></li>
                          <li><a href="">현황2</a></li>
                          <li><a href="">현황3</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo"
                        aria-expanded="false"
                        aria-controls="flush-collapseTwo"
                      >
                        설계변경 현황
                      </button>
                    </h2>
                    <div
                      id="flush-collapseTwo"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul>
                          <li><a href="">현황1</a></li>
                          <li><a href="">현황2</a></li>
                          <li><a href="">현황3</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree"
                        aria-expanded="false"
                        aria-controls="flush-collapseThree"
                      >
                        개정도 현황
                      </button>
                    </h2>
                    <div
                      id="flush-collapseThree"
                      class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample"
                    >
                      <div class="accordion-body">
                        <ul>
                          <li><a href="">현황1</a></li>
                          <li><a href="">현황2</a></li>
                          <li><a href="">현황3</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="aside-bottom">
                <p>홍길동 님, 환영합니다.</p>
                <a href="">로그아웃</a>
              </div>
            </div>
            <div id="section" class="col-8">
              <div class="row">
                <h3 class="center mb-3">용접현황</h3>
              </div>
              <div class="row">
                <div class="col-6 border center" style="height: 300px">
                  <canvas id="myChart1"></canvas>
                </div>
                <div class="col-6 border center" style="height: 300px">
                  <canvas id="myChart2"></canvas>
                </div>
                <div class="col-6 border center" style="height: 300px">
                  <canvas id="myChart3"></canvas>
                </div>
                <div class="col-6 border" style="height: 300px">
                  <canvas id="myChart4"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script>
      const ctx1 = document.getElementById("myChart1");
      const ctx2 = document.getElementById("myChart2");
      const ctx3 = document.getElementById("myChart3");
      const ctx4 = document.getElementById("myChart4");
      drawChart(ctx1, "line");
      drawChart(ctx2, "bar");
      drawChart(ctx3, "pie");
      drawChart(ctx4, "line");

      function drawChart(ctx, type) {
        new Chart(ctx, {
          type: type,
          data: {
            labels: ["FCAW", "EGW", "FCSA", "FAB", "SAW"],
            datasets: [
              {
                label: "용접불량률%",
                data: [12, 19, 3, 5, 2],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      }
    </script> -->

    <script>
      async function fetchWeldingData() {
        try {
          const response = await fetch("http://localhost:3030/list");
          const result = await response.json();

          console.log(result);

          if (!result.error) {
            const weldingData = result.data;

            const labels = weldingData.map((item) => {
              return item.reason_code;
            });

            const defectRates = weldingData.map((item) =>
              item.count(project_number)
            );

            drawChart(
              document.getElementById("myChart1"),
              "line",
              labels,
              defectRates
            );
            drawChart(
              document.getElementById("myChart2"),
              "bar",
              labels,
              defectRates
            );
            drawChart(
              document.getElementById("myChart3"),
              "pie",
              labels,
              defectRates
            );
            drawChart(
              document.getElementById("myChart4"),
              "line",
              labels,
              defectRates
            );
          } else {
            console.error("Error:", result.message);
          }
        } catch (error) {
          console.error("Fetch error:", error);
        }
      }

      function drawChart(ctx, type, labels, data) {
        new Chart(ctx, {
          type: bar,
          data: {
            labels: labels,
            datasets: [
              {
                label: "용접불량률%",
                data: data,
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      }

      window.onload = function () {
        fetchWeldingData();
      };
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
